@import url(../../stylesheets/reset.css);
@import url(../../stylesheets/demo.css);
/* line 41, ../../../../sass/twigkit-semantic.gs-22e0e79/stylesheets/scss/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../../../../sass/twigkit-semantic.gs-22e0e79/stylesheets/scss/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../../../../sass/twigkit-semantic.gs-22e0e79/stylesheets/scss/grid.scss */
body:after {
  clear: both;
}

/* line 24, ../../../../sass/twigkit-semantic.gs-22e0e79/examples/nested/nested.scss */
div.center {
  margin: 0 auto;
  overflow: hidden;
}

/* line 30, ../../../../sass/twigkit-semantic.gs-22e0e79/examples/nested/nested.scss */
header#top {
  margin-bottom: 1em;
}

/* line 35, ../../../../sass/twigkit-semantic.gs-22e0e79/examples/nested/nested.scss */
#maincolumn {
  display: inline;
  float: left;
  width: 72.91667%;
  margin: 0 1.04167%;
}
/* line 38, ../../../../sass/twigkit-semantic.gs-22e0e79/examples/nested/nested.scss */
#maincolumn ul#boxes {
  display: block;
  width: 102.77778%;
  margin: 0 -1.38889%;
  *zoom: 1;
}
/* line 27, ../../../../sass/twigkit-semantic.gs-22e0e79/stylesheets/scss/grid.scss */
#maincolumn ul#boxes:before, #maincolumn ul#boxes:after {
  content: "";
  display: table;
}
/* line 31, ../../../../sass/twigkit-semantic.gs-22e0e79/stylesheets/scss/grid.scss */
#maincolumn ul#boxes:after {
  clear: both;
}
/* line 41, ../../../../sass/twigkit-semantic.gs-22e0e79/examples/nested/nested.scss */
#maincolumn ul#boxes li {
  display: inline;
  float: left;
  width: 30.55556%;
  margin: 0 1.38889%;
  margin-bottom: 1em;
}

/* line 49, ../../../../sass/twigkit-semantic.gs-22e0e79/examples/nested/nested.scss */
#sidebar {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
}
